.page-template-page-templatestemplate-hittalunchen-php {


  .menu{

	overflow-x: hidden;
	padding-bottom: 30px;
	.menuday {
	  padding-top:27px;
	  h4 { background:@navbar_menu_bg_colour; color:#fff; text-indent:10px; padding:4px 0 5px; }
	}
	.row:first-child {
	  .menuday { padding-top:0; }
	}
	.menurowpadd {
	  padding:0 10px;
	  .menurow {
		margin-bottom:10px;
		.menuprice { text-align: right; }
		strong { font-weight:600; }
	  }
	}


  }

}

