// Fonts
//------------------------------------------------------------------------------
@font-family-std:           'Open Sans', sans-serif;
@font-family-special:       'Open Sans Condensed', sans-serif;
@font-family-headline:      'Open Sans', sans-serif;
//------------------------------------------------------------------------------


// Gutter settings
//------------------------------------------------------------------------------
// This declaration overrides the gutter width set in bootstrap/variables.less
// Comment it out if you want to use the default bootstrap value.
@grid-gutter-width: 50px;

// Custom gutters for responsiveness levels.
@grid-gutter-width-sub-xs: 20px;
@grid-gutter-width-xs: 20px;
@grid-gutter-width-sm: 30px;
@grid-gutter-width-md: 50px;
@grid-gutter-width-lg: 50px;

// Use this variable to create an offset on content such as subcontent.
@custom-gutter-offset: 0px;
//------------------------------------------------------------------------------


// Body
//------------------------------------------------------------------------------
@body_bg_use_image: true;
@body_bg_use_gradient: false;
@container_use_box_shadow: true;

// Container rules.
// -----------------------------------------------------------------------------
// These settings override the default bootstrap settings, comment in/out as needed. 
//@container-tablet: ((720px + @grid-gutter-width));
//@container-desktop: ((940px + @grid-gutter-width));
@container-lg-desktop: 1018px;

@container_box_shadow: 0 2px 7px 5px rgba(0,0,0,0.15);						// Default T1:  0 2px 15px 8px rgba(0, 0, 0, 0.2);
// -----------------------------------------------------------------------------


// Rules for the body background.
@body_bg_image: "../img/body_bg.jpg";
@body_bg_image_repeat: no-repeat;  												// repeat, repeat-x, repeat-y and no-repeat are valid values.
@body_bg_image_size: cover;

@body_bg_colour: #CCCCCC;
@body_bg_colour_gradient_start: @body_bg_colour;
@body_bg_colour_gradient_stop: #FFFFFF;

@accent_colour: #c41230;

// General text colour rules, this applies to all text except links.
@body_text_colour: #4c4c4c;														// Default T1 : #000000
@body_text_font_size: 14px;														// Default T1 : 14px
@body_text_font_weight: 300;													// Default T1 : 300

// Common border colours, this affects the subBorder, header borders and the
// borders around the showcases.
@body_border_color: #EFEFEF;													// Default T1 : #EFEFEF

// Rules for headers (h).
@colour_h: @body_text_colour;

// Rules for H1 headers.
@body_h1_float: none;															// Default T1 : none
@body_h1_margin: 0 0 0 -2px;                                                	// Default T1 : 0 0 0 -2px
@body_h1_padding: 0;															// Default T1 : 0

@body_h1_font_size: 35px;
@body_h1_font_weight: 300;
@body_h1_color: @colour_h;
@body_h1_background_color: transparent;											// Default T1 : transparent
@body_h1_text_transform: none;													// Default T1 : uppercase

@body_h1_border_bottom: none;													// Default T1 : none

// Rules for paragraphs (p)
@body_p_float: none;                                                            // Default T1 : none

// Rules for links (a)
@colour_a: @accent_colour;
//------------------------------------------------------------------------------

// Map
//------------------------------------------------------------------------------
@map_border_colour: #EEEEEE;
//------------------------------------------------------------------------------

// Featured iamges
//------------------------------------------------------------------------------
@feat_img_container_visible: false;												// Default T1 : false
@feat_img_container_bg_use_image: false;										// Default T1 : false

// Controls the distance between the featured image and the main menu/main 
// content (uses .container background colour).
@feat_img_container_padding_top: @grid-gutter-width / 2;						// Default T1 : gutter width / 2
@feat_img_container_padding_bottom: @feat_img_container_padding_top;			// Default T1 : gutter width / 2

@feat_img_container_bg_color: transparent;										// Default T1 : transparent
@feat_img_container_bg_image: "../img/footer_bg.jpg";
//------------------------------------------------------------------------------


// Misc
//------------------------------------------------------------------------------
.nav-tabs { border-bottom: 0px solid black; }
.glyphicon { margin-right: 3px; }


div.wpcf7 { margin-bottom: 18px; }
//div.wpcf7 label { margin-top: 7px; }

.wpcf7-checkbox .wpcf7-list-item-label {display: none;}

table{max-width:100%; width:100%}
td {
  vertical-align: text-top;
  margin: 5px 0px 5px 0px;
  padding: 8px 2px 8px 9px;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline : 0;
}

.bokaframe {
  margin-left:-25px;
  margin-right:-25px;
  outline: 16px solid white;
  outline-offset: -16px;
  @media (max-width: @screen-lg) { margin-left:-25px; margin-right:-26px; outline: 16px solid white; outline-offset: -16px;}
  @media (max-width: @screen-md) { margin-left:-15px; margin-right:-12px; outline: 15px solid white; outline-offset: -15px;}
  @media (max-width: @screen-sm) { margin-left:-20px; margin-right:-27px; outline: 15px solid white; outline-offset: -15px;}
  @media (max-width: @screen-xs) { margin-left:-26px; margin-right:-26px; outline: none;  outline-offset: none;}




}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // gömmer outlinen från IE
  .bokaframe { outline: none !important;}
}

*+html .bokaframe { outline: none !important;} // gömmer outlinen från IE

.staff-list .personal .PL_infosquare {
  min-height: 184px !important;
}

.PL_role {
  min-height: 90px !important;
}

span.key {
  font-weight: 700 !important;
}