// General controls.
// -----------------------------------------------------------------------------
@flex_use_slider_shadow: true;													// Default T1 : true

@flex_container_bg_color: transparent;											// Default T1 : transparent

// Controls the distance between the slider and the main menu/main 
// content (no background colour).
@flex-container-margin-top: 7px;
@flex-container-margin-bottom: 7px;

// Controls the distance between the slider and the main menu/main 
// content (uses .container background colour).
@flex-container-padding-top: 0px;
@flex-container-padding-bottom: @flex-container-padding-top;
// -----------------------------------------------------------------------------


// Slider text box properties.
// -----------------------------------------------------------------------------
@flex_slidetext_visible: true;													// Default T1 : true
@flex_slidetext_bg_use_img: false;												// Default T1 : false
@flex_slidetext_bg_use_transparency: true;										// Default T1 : true
@flex_slidetext_p_use_text_shadow: true;										// Default T1 : true
@flex_slidetext_h_use_text_shadow: true;										// Default T1 : true

@flex_slidetext_location_vertical: "bottom";									// Default  T1 : "bottom", possible values = "top" | "bottom"
@flex_slidetext_location_vertical_offset: 47px;
@flex_slidetext_location_horizontal: 'right';									// Default  T1 : "right", possible values = "left" | "right"
@flex_slidetext_location_horizontal_offset: 0px;

@flex_slidetext_bg: #5c5c5c;
@flex_slidetext_bg_transparent: rgba(56, 56, 55, .58);
@flex_slidetext_bg_img: "../img/flex_slidetext_bg.png";

// These control the slidetext box width and internal padding. The left/right
// paddings are usually set to the gutter widths for each responsive size in
// order to correlate with the rest of the margins.
@flex_slidetext_width: 39%;														// Default T1 : 37% - 39%
@flex_slidetext_padding_sub_xs: (@grid-gutter-width-sub-xs / 2);
@flex_slidetext_padding_xs: (@grid-gutter-width-xs / 2);
@flex_slidetext_padding_sm: 13px 17px;
@flex_slidetext_padding_md: 13px 17px;
@flex_slidetext_padding_lg: 13px 17px;

// Controls for the slidetext paragraphs (p)
@flex_slidetext_p_font_family: @font-family-std;
@flex_slidetext_p_font_size: 14px;
@flex_slidetext_p_font_weight: 400;
@flex_slidetext_p_color: #FFFFFF;
@flex_slidetext_p_text_shadow: 1px 1px 0px rgba(0,0,0,0.6);

// Common controls for the slidetext headers (h)
@flex_slidetext_h_font_family: @font-family-special;
@flex_slidetext_h_text_shadow: @flex_slidetext_p_text_shadow;

// Specific controls for the slidetext headers (h2 & h3)
@flex_slidetext_h2_font_size: 18px;
@flex_slidetext_h2_font_weight: 600;
@flex_slidetext_h2_color: #FFFFFF;

@flex_slidetext_h3_font_size: 15px;
@flex_slidetext_h3_font_weight: 700;
@flex_slidetext_h3_color: #c9c9c9;
// -----------------------------------------------------------------------------

// Various controls for the pagination.
// -----------------------------------------------------------------------------
@flex_pagination_item_use_shadow: true;

@flex_pagination_bottom_offset: 10px;

// The background colour of the "backboard" of the pagination.
@flex_pagination_background_color: transparent;

@flex_pagination_item_width: 14px;
@flex_pagination_item_height: 14px;

// The colours of the actual items/buttons/circles/whatever.
@flex_pagination_item_background_color: #FFF;
@flex_pagination_item_background_color_active: #c31230;
@flex_pagination_item_background_color_hover: #c31230;

@flex_pagination_item_border: none;
@flex_pagination_item_border_radius: 20px;

@flex_pagination_item_box_shadow: 2px 1px 3px rgba(0,0,0,0.4);
// -----------------------------------------------------------------------------

// Various controls for the directional arrows (left/right).
// -----------------------------------------------------------------------------
@flex_dir_nav_visible: true;													// Default T1 : true
@flex_dir_nav_use_img: true;													// Default T1 : true
@flex_dir_nav_use_img_mouseover: true;
@flex_dir_nav_use_transition_mouseover: false;

@flex_dir_nav_width: 33px;
@flex_dir_nav_height: 56px;
@flex_dir_nav_padding: 6px; // Only used for text arrows.
@flex_dir_nav_bg_colour: transparent;

// In case images are used instead of glyphicons.
@flex_dir_nav_img_prev: "../img/arrow_prev.png";
@flex_dir_nav_img_prev_hover: "../img/arrow_prev_mo.png";						// used for img mouse over effect.
@flex_dir_nav_img_next: "../img/arrow_next.png";
@flex_dir_nav_img_next_hover: "../img/arrow_next_mo.png";						// used for img mouse over effect.
@flex_dir_nav_img_bg_size: 32px;

// And in case we're using glyphicons.
@flex_dir_nav_font_family: "Glyphicons Halflings";
@flex_dir_nav_font_style: normal;
@flex_dir_nav_font_weight: 400;
@flex_dir_nav_text_color: #FFFFFF;
@flex_dir_nav_text_decoration: none;

@flex_dir_nav_hover_text_color: #2243A4;
@flex_dir_nav_text_shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); 
@flex_dir_nav_hover_text_shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);

@flex_dir_nav_font_size: 32px;
@flex_dir_nav_line_height: 70px;

@flex_dir_nav_prev_left: -40px;
@flex_dir_nav_next_right: @flex_dir_nav_prev_left;
@flex_dir_nav_prev_content: "\e079";
@flex_dir_nav_next_content: "\e080";
//------------------------------------------------------------------------------






/* =============================================================================
   Flexslider
   ========================================================================== */
.flex-control-nav li {background-color: transparent;}

.container
{
	&.slider
	{
		background: @flex_container_bg_color;
		
		margin-top: @flex-container-margin-top;
		margin-bottom: @flex-container-margin-bottom;
		
		padding-top: @flex-container-padding-top;
		padding-bottom: @flex-container-padding-bottom;
	}
}


.flexslider 
{
	margin: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	
	.flex-control-paging
	{
		& when (@flex_dir_nav_visible = false)
        {
            display: none;
        }
        bottom: @flex_pagination_bottom_offset;
		
		li
		{
			background-color: @flex_pagination_background_color;
			
		    a
		    {
		    	display: block;
			    width: @flex_pagination_item_width;
			    height: @flex_pagination_item_height;
			    background: @flex_pagination_item_background_color;
			    
			    text-indent: -9999px;
			    cursor: pointer;
			    
			    border: @flex_pagination_item_border;
			    -webkit-border-radius: @flex_pagination_item_border_radius;
			    -moz-border-radius: @flex_pagination_item_border_radius;
			    -o-border-radius: @flex_pagination_item_border_radius;
			    border-radius: @flex_pagination_item_border_radius;
			    
			    & when (@flex_pagination_item_use_shadow = true)
			    {
			    	box-shadow: @flex_pagination_item_box_shadow;
			    }
			    
			    &.flex-active { background: @flex_pagination_item_background_color_active; cursor: default; }
			    &:hover { background: @flex_pagination_item_background_color_hover; }   
		    }
		}
	} 
	
	.flex-direction-nav 
	{ 
		& when (@flex_dir_nav_visible = false) 
		{
			display: none;
		}
		height: 0;
		
		a
		{
			display: block; 
		    position: absolute; 
		    top: 50%; 
		    z-index: 10;
		    
		    width: @flex_dir_nav_width; 
		    height: @flex_dir_nav_height; 
		    margin: -(@flex_dir_nav_height / 2) 0 0; 
		    
		    background-color: @flex_dir_nav_bg_colour;
		    
		    cursor: pointer;
		    
		    
		    &.flex-prev, &.flex-next
		    {
				@media (max-width: @screen-sm) { display: none; }
				& when (@flex_dir_nav_use_img = false)
				{
					padding: @flex_dir_nav_padding;
					line-height: @flex_dir_nav_line_height;
					
					font-family: @flex_dir_nav_font_family;
				    font-style: @flex_dir_nav_font_style;
				    font-size: @flex_dir_nav_font_size;
				    font-weight: @flex_dir_nav_font_weight;
				    text-shadow: @flex_dir_nav_text_shadow;
				    
				    color: @flex_dir_nav_text_color;
				    text-decoration: @flex_dir_nav_text_decoration;
					
					& when (@flex_dir_nav_use_transition_mouseover = true)
					{
						.grayscale-transition(0.3s, 'to-gray');
					}
					& when (@flex_dir_nav_use_transition_mouseover = false)
					{ 
						color: @flex_dir_nav_hover_text_color;
						text-shadow: @flex_dir_nav_hover_text_shadow;
					}
				}
				
				& when (@flex_dir_nav_use_img = true)
				{
					background-size: @flex_dir_nav_img_bg_size;
					&:before { content: ""; }


				}
		    }
		    
		    &.flex-prev
		    {
				left: -40px;
				@media (max-width: @screen-lg) { left: 0px; }
                @media (max-width: @screen-md) { left: 0px; }

				
				& when (@flex_dir_nav_use_img = true)
				{
					background-image: url(@flex_dir_nav_img_prev);
					& when (@flex_dir_nav_use_transition_mouseover = true)
					{
						.grayscale-transition(0.3s, 'to-gray');
					}
					& when (@flex_dir_nav_use_transition_mouseover = false)
					{
                        &:hover{ background-image: url(@flex_dir_nav_img_prev_hover); }
					}

				}
				& when (@flex_dir_nav_use_img = false)
				{
					&:before { content: @flex_dir_nav_prev_content; }
				}
		    }
		    
		    &.flex-next
		    {
				right: -40px;
				@media (max-width: @screen-lg) { right: 0px; }
                @media (max-width: @screen-md) { right: 0px; }
				
				& when (@flex_dir_nav_use_img = true)
				{
					background-image: url(@flex_dir_nav_img_next);
					& when (@flex_dir_nav_use_transition_mouseover = true)
					{
						.grayscale-transition(0.3s, 'to-gray');
					}
					& when (@flex_dir_nav_use_transition_mouseover = false)
					{
						&:hover { background-image: url(@flex_dir_nav_img_next_hover); }
					}


				}
				& when (@flex_dir_nav_use_img = false)
				{
					&:before { content: @flex_dir_nav_next_content; }
				} 		    	
		    }
		}
	}
    
    .slides
    {
        .slideText 
        { 
            & when (@flex_slidetext_visible = false)
            {
				display: none;
            }
            
            // Positioning rules.
            // ---------------------------------------------------------------
            position: absolute;
            & when (@flex_slidetext_location_vertical = "bottom")
            {
				bottom: @flex_slidetext_location_vertical_offset;
            }
            & when (@flex_slidetext_location_vertical = "top")
            {
				top: @flex_slidetext_location_vertical_offset;
            }
            & when (@flex_slidetext_location_horizontal = "left")
            {
				left: @flex_slidetext_location_horizontal_offset;
            }
            & when (@flex_slidetext_location_horizontal = "right")
            {
				right: @flex_slidetext_location_horizontal_offset;
            }
            // ---------------------------------------------------------------
                        
        
        	padding: @flex_slidetext_padding_sub_xs;
        	@media (min-width: @screen-xs) { padding: @flex_slidetext_padding_xs; }
        	@media (min-width: @screen-sm) { padding: @flex_slidetext_padding_sm; }
        	@media (min-width: @screen-md) { padding: @flex_slidetext_padding_md; }
        	@media (min-width: @screen-lg) { padding: @flex_slidetext_padding_lg; }
            width: @flex_slidetext_width;
            min-height: 100px; 
            
            background-color: @flex_slidetext_bg; 
            & when (@flex_slidetext_bg_use_transparency = true)
            {
                background-color: @flex_slidetext_bg_transparent;
            }
            & when (@flex_slidetext_bg_use_img = true)
            {
                background: url(@flex_slidetext_bg_img);
				background-size: cover;
			    background-position: center center;
			    background-repeat: no-repeat;
			}
            @media(max-width: @screen-md)
            {
                top: 0;
                bottom: initial;
                right: 0;
                width: 100%;
                min-height: 0;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            @media(max-width: @screen-sm)
            {
                position: static;
                min-height: 102px;
            }
            
            h2, h3
            {
				font-family: @flex_slidetext_h_font_family;
                padding-top: 0px;
                margin-top: 0px;
			  	margin-bottom:4px;
                & when (@flex_slidetext_h_use_text_shadow = true) 
                { 
                	text-shadow: @flex_slidetext_h_text_shadow;
                }
            }
            
            h2 
            { 
                font-size: @flex_slidetext_h2_font_size;
                font-weight: @flex_slidetext_h2_font_weight;
                color: @flex_slidetext_h2_color;

            }
            
            h3 
            {  
                font-size: @flex_slidetext_h3_font_size;
                font-weight: @flex_slidetext_h3_font_weight;
                color: @flex_slidetext_h3_color;

            }
            
            p 
            { 
                font-family: @flex_slidetext_p_font_family; 
                font-size: @flex_slidetext_p_font_size;
                font-weight: @flex_slidetext_p_font_weight;
                  
                color: @flex_slidetext_p_color;
                padding-top: 0px;
                margin-top: 0px;
                margin-bottom: 0px;
                
                & when (@flex_slidetext_p_use_text_shadow = true) { text-shadow: @flex_slidetext_p_text_shadow; }
            }
            
            li a { text-decoration: none; }
        }
        
        &>li
		{
			position: relative;
			-webkit-backface-visibility: visible;
		}
    }	
}

    
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

.flex-control-nav li {
    
    //IE-FIX 7 behövs
    
    display: inline-block;
    margin: 0 0px;
    zoom: 1;
    padding: 4px;
    background-color: #bababa;
    background-color: rgba(186,186,186,0.8);
}
.flex-control-nav li:first-child { padding-left:8px; }
.flex-control-nav li:last-child { padding-right:8px; }



.sliderShadow 
{
	& when (@flex_use_slider_shadow = true)
    {
	    height: 42px;
	    background-color: transparent;
	    background-image: url(../img/sliderShadow.png);
	    background-position: center top;
	    position: absolute;
	    z-index: 8;
	    width: 100%;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }
    & when (@flex_use_slider_shadow = false)
    {
        display: none;
    }
}


body.single-referensjobb {
  .flexslider {

    .flex-direction-nav
    {
      & when (@flex_dir_nav_visible = false)
      {
        display: none;
      }
      height: 0;

      a
      {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 10;

        width: @flex_dir_nav_width;
        height: @flex_dir_nav_height;
        margin: -(@flex_dir_nav_height / 2) 0 0;

        background-color: @flex_dir_nav_bg_colour;

        cursor: pointer;


        &.flex-prev, &.flex-next
        {
          @media (max-width: @screen-sm) { display: none; }
          & when (@flex_dir_nav_use_img = false)
          {
            padding: @flex_dir_nav_padding;
            line-height: @flex_dir_nav_line_height;

            font-family: @flex_dir_nav_font_family;
            font-style: @flex_dir_nav_font_style;
            font-size: @flex_dir_nav_font_size;
            font-weight: @flex_dir_nav_font_weight;
            text-shadow: @flex_dir_nav_text_shadow;

            color: @flex_dir_nav_text_color;
            text-decoration: @flex_dir_nav_text_decoration;

            & when (@flex_dir_nav_use_transition_mouseover = true)
            {
              .grayscale-transition(0.3s, 'to-gray');
            }
            & when (@flex_dir_nav_use_transition_mouseover = false)
            {
              color: @flex_dir_nav_hover_text_color;
              text-shadow: @flex_dir_nav_hover_text_shadow;
            }
          }

          & when (@flex_dir_nav_use_img = true)
          {
            background-size: @flex_dir_nav_img_bg_size;
            &:before { content: ""; }


          }
        }

        &.flex-prev
        {
          left: 0px;
          @media (max-width: @screen-lg) { left: 0px; }
          @media (max-width: @screen-md) { left: 0px; }


          & when (@flex_dir_nav_use_img = true)
          {
            background-image: url(@flex_dir_nav_img_prev);
            & when (@flex_dir_nav_use_transition_mouseover = true)
            {
              .grayscale-transition(0.3s, 'to-gray');
            }
            & when (@flex_dir_nav_use_transition_mouseover = false)
            {
              &:hover{ background-image: url(@flex_dir_nav_img_prev_hover); }
            }

          }
          & when (@flex_dir_nav_use_img = false)
          {
            &:before { content: @flex_dir_nav_prev_content; }
          }
        }

        &.flex-next
        {
          right: 0px;
          @media (max-width: @screen-lg) { right: 0px; }
          @media (max-width: @screen-md) { right: 0px; }

          & when (@flex_dir_nav_use_img = true)
          {
            background-image: url(@flex_dir_nav_img_next);
            & when (@flex_dir_nav_use_transition_mouseover = true)
            {
              .grayscale-transition(0.3s, 'to-gray');
            }
            & when (@flex_dir_nav_use_transition_mouseover = false)
            {
              &:hover { background-image: url(@flex_dir_nav_img_next_hover); }
            }


          }
          & when (@flex_dir_nav_use_img = false)
          {
            &:before { content: @flex_dir_nav_next_content; }
          }
        }
      }
    }
  }

  #slider {
    margin-top:20px;
    .slides{
      li{
        background: #ebebeb;
        img {
          width: initial;
          max-width: 100%;
          margin: 0 auto;
        }
      }
    } 
  }

  #carousel {
    border-bottom:1px solid #efefef;
    margin-bottom: 20px;
    ul.slides{
      li{
        cursor:hand;
        cursor:pointer;
        padding: 10px 10px 10px 0;
        &.flex-active-slide img {
          padding:3px;
          background:#c4cbd7;
          //transition: padding 0.2s linear;
        }
        @media(min-width: @screen-sm){
          padding: 20px 20px 20px 0;
          &.flex-active-slide img {
            padding:5px;
          }
        }
      }
    }
  }


}


