// Login skärmen
body.login {
  background-image: url('../img/timelabcms-logo.png');
  background-position: 98% 98%;
  background-repeat: no-repeat;
}

#login {
  padding: 16px 0px;

  h1 a {
    background-position: bottom center;
    background-size: contain;
    height: 256px;
    margin-bottom: 16px;
  }
}