<div class="panel panel-default">
    <a class="panel-heading" data-toggle="collapse" data-parent="#facility-accordion" href="#adress">
        <h2 class="panel-title">
            <span class="glyphicon glyphicon-map-marker"></span> Adresser
        </h2>
    </a>
    <div id="adress" class="panel-collapse in">
        <div class="container">
            <div class="row">
                <input type="hidden" name="address_id[]" value="{{ id }}">
                <div class="row">
                    <div class="col-sm-8">
                        <input type="search" class="form-control input-lg transient" name="address_search" placeholder="Adressen, tex &quot;Kungsgatan 34A, Luleå&quot;">
                    </div>

                    <div class="col-sm-4">
                        <a href="#" class="btn btn-primary btn-lg btn-block address-search-button"><span class="glyphicon glyphicon-search"></span> Sök efter adress</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="adress_street">Gatuadress</label>
                        <input type="text" class="form-control" name="address_formatted[]" value="{{ formatted }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="adress_street">Gata</label>
                        <input type="text" class="form-control input-sm" name="address_street[]" value="{{ street }}">
                    </div>

                    <div class="col-sm-2">
                        <label for="adress_zip">Postkod</label>
                        <input type="text" class="form-control input-sm" name="address_zip[]" value="{{ zip }}">
                    </div>

                    <div class="col-sm-4">
                        <label for="adress_street">Ort</label>
                        <input type="text" class="form-control input-sm" name="address_city[]" value="{{ city }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="adress_street">Latitud</label>
                        <input type="text" class="form-control input-sm" name="address_lat[]" value="{{ lat }}">
                    </div>
                    <div class="col-sm-2">
                        <label for="adress_street">Longitud</label>
                        <input type="text" class="form-control input-sm" name="address_long[]" value="{{ long }}">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12" id="address-map-container"></div>
                </div>
            </div>
        </div>
    </div>

</div>