<div class="panel panel-default">
    <a class="panel-heading" data-toggle="collapse" data-parent="#facility-accordion" href="#personal">
        <h2 class="panel-title">
            <span class="glyphicon glyphicon-user"></span> Personal
        </h2>
    </a>
    <div id="personal" class="panel-collapse in">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <ol class="sortable-list ui-sortable" id="personnel-list" data-list-key="personnel">
                        {% for person in facility.personnel %}
                            {% include 'Contact/PersonnelField.twig' with person %}
                        {% endfor %}

                        {% include 'Contact/PersonnelField.twig' with { placeholder: true } %}
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>