<li>
    <div>
        <a class="collapse-button btn btn-default btn-xs"><i class="glyphicon glyphicon-minus"></i></a>

        {% if not is_external_link %}
            <span class="glyphicon glyphicon-file"></span>
        {% else %}
            <span class="glyphicon glyphicon-link"></span>
        {% endif %}

        <input type="text" name="menu_item_title[]" value="{{ title }}">

        {% if not is_external_link %}
            <span class="text-muted">Sida:</span> {{ page_title }}
            <a class="btn btn-success pull-right" href="{{ edit_url }}">Redigera sida</a>

            <input type="hidden" name="menu_item_url[]" value="{{url}}">
            <input type="hidden" name="menu_item_target[]" value="{{target}}">
        {% else %}
            <span class="text-muted">Länkadress:</span> <input type="text" name="menu_item_url[]" value="{{url}}">

            <span class="text-muted">Öppna i:</span>
            <select name="menu_item_target[]" data-value="{{ target }}">
                <option value="_blank">Ny flik</option>
                <option value="_self">Samma flik</option>
            </select>
        {% endif %}

        <input type="hidden" name="menu_item_id[]" value="{{ id }}">
        <input type="hidden" name="menu_item_object_id[]" value="{{ object_id }}">
        <input type="hidden" name="menu_item_object[]" value="{{ object_type }}">
        <input type="hidden" name="menu_item_type[]" value="{{ type }}">
        <input type="hidden" name="menu_item_order[]" value="{{ menu_order }}">
        <input type="hidden" name="menu_item_menu_id[]" value="{{ menu_id }}">
        <input type="hidden" name="menu_item_parent[]" value="{{ parent }}">

        <div class="clear"></div>
    </div>
    <ol>
    {% for child in children %}
        {% include 'Page/MenuItem.twig' with child %}
    {% endfor %}
    </ol>
</li>