<div class="modal fade" id="new-page-modal">
    <div class="modal-dialog">
        <form action="{{ create_page_url }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
                    <h4 class="modal-title">Skapa ny undersida</h4>
                </div>

                <div class="modal-body">
                    <input class="form-control hidden" name="action" type="text" value="new_page">
                    <h2>Sidrubrik</h2>
                    <input class="form-control required" name="title" type="text">
                    <hr>
                    <h2>Välj sidmall</h2>
                    <input class="form-control required hidden" name="page_template" type="text">
                    <div class="row">
                        <div class="col-sm-12 template-list">
                            <ul>
                                <li>
                                    {% for template in templates  %}
                                        <a href="#" data-template="{{ template.name }}" class="btn btn-default btn-block template">{{ template.title }}</a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" aria-hidden="true">Avbryt</button>
                    <input type="submit" class="btn btn-success btn-lg" value="Skapa ny sida">
                </div>
            </div>
        </form>
    </div>
</div>



